# Binaries for programs and plugins
*.exe
*.bin
*.exe~
*.dll
*.so
*.dylib

# IDE
.vscode

# Go Module
vendor

# GO Module Summary
*.sum

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cover.*